/docs/
__pycache__/
captures/**/*.txt
*.pyc
*.pyo
*.egg-info/
*.egg
*.swp
.DS_Store
.vscode/
.idea/
build/
dist/
*.log
*.csv
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.tar.gz
*.tgz
